<app-admin-nav></app-admin-nav>

<div class="patients-container">
  <mat-card class="patients-card" appearance="outlined">
    <mat-card-title class="patients-title">All Patients</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="patients" class="mat-elevation-z2 full-width-table">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let patient"> {{patient.patientName}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let patient"> {{patient.email}} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let patient"> {{patient.age}} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let patient"> {{patient.gender}} </td>
        </ng-container>

        <!-- DOB Column -->
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
          <td mat-cell *matCellDef="let patient"> {{patient.dob | date}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight (kg) </th>
          <td mat-cell *matCellDef="let patient"> {{patient.weight}} </td>
        </ng-container>

        <!-- Header & Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
